<h1>This is the dashboard page</h1>
<h3>name: <%= current_user.first_name + " " + current_user.last_name %></h3>
<% if current_user.photo.attached? %>
  <%= cl_image_tag current_user.photo.key, height: 150, crop: :fill %>
<% end %>

<%= render 'shared/reservations' %>

<br>
