.dash-container {
  min-width: 90%;
}

.dash-title {
  font-family: 'Montserrat', sans-serif;
  font-size: small;
  font-weight: 400;
  background-color: #F7F7F7;
}

.edit {
  text-align: center;
}

.dash-onglet-title {
padding: 1rem;
}

.dash-link {
  display: flex;
  justify-content: space-evenly;
}

.resa-info {
  vertical-align: middle !important;
}

.resa-date {
  font-weight: 200;
  font-size: 15px;
}

a {
  color: black;
}

a:hover {
  color: black;
}

.dash-btn {
  display: flex;
  align-items: center;
}

.dash-banner {
  background-size: cover;
  background-position: center;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dash-banner-title {
  color: white;
}
