.dash-container {
  min-width: 90%;
}

.dash-title {
  font-family: 'Montserrat', sans-serif;
  font-size: small;
  font-weight: 400;
}

.edit {
  text-align: center;
}

.dash-onglet-title {
padding: 1rem;
}

.dash-link {
  display: flex;
  justify-content: space-evenly;
}

.resa-info {
  vertical-align: middle !important;
  a {
    color: black;
  }
}

.resa-date {
  font-weight: 200;
  font-size: 15px;
}
