// Specific CSS for your home-page
.about-us {
  text-align: center;
  padding: 1rem;
  background-color: #f4f4f4;
  width: 100%;
}

.btn-green {
  background-color: #A2B29F;
  border-radius: 20px;
}

.btn-green:hover {
  background-color: #798777;
}
