.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100vw;
  padding-left: 1rem;
  padding-right: 1rem;
}

.plant-map {
  display: flex;
}

#map {
  min-width: 30%;
  background-color: antiquewhite;
}

.plant-card {
  padding: 1rem;
  max-width: 15rem;
  a {
    text-decoration: none;
    color: black;
  }
}

.index-card-info {
  padding: 0.5rem;
  max-height: 4rem;
}

.index-card-title {
  font-weight: 300;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

.plant-card:hover {
  .index-card-info {
background-color: #F7F7F7;
  }
  .index-card-image {
    opacity: 0.8;
  }
}

.index-card-text {
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
  span {
    font-size: 12px;
    font-weight: 400;
  }
}

.index-card-body {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.index-card-link {
  color: black;
}

.card-image {
  width: 100%;
  height: 12rem;
}

 .index-card-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
 }

.list-group {
  font-size: small;
}
