.container-product {
  margin-left: 2rem;
  margin-right: 2rem;
  display: flex;
}

.plant-image {
  width: 50%;
  max-height: 70vh;
  display: flex;
  justify-content: center;
}

.show-image {
  object-fit: cover;
  height: 100%;
  padding: 1rem;
}

.plant-content {
  width: 50%;
  min-height: 70vh;
  padding: 1rem;
}

.user-meta-info {
  display: flex;
  margin-top: 0;
  justify-content: center;
  p {
    margin-right: 1rem;
  }
  a {
    color: black;
    font-weight: 600;
  }
}

.meta-info {
  display: block;
}

.meta-title-info {
  h1{
    margin: 0;
  }
  span {
    font-size: smaller;
    font-style: italic;
  }
  h2 {
    margin-bottom: 1rem;
  }
}

.plant-price-infos {
  display: flex;
  h2 {
    font-size: 30px;
    margin-right: 1rem;
  }
  .fa-basket-shopping {
    font-size: 30px;
  }
}

.plant-infos {
  p {
    margin-top: 0;
  }
}

.fa-sun {
  font-size: 20px;
}

.fa-faucet-drip {
  font-size: 20px;
}

.fa-seedling {
  font-size: 20px;
}

.reserve-btn {
  background-color: #A2B29F;
  border-radius: 20px;
}

.reserve-btn:hover {
  background-color: #798777;
}
