.user-main-info {
  display: flex;
}

.userprofil-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  border-style: solid;
  border-width: 3px;
  border-color: white;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.profil-icone {
  .fa-pen-to-square {
    font-size: 25px;
    margin-left: 1rem;
  }
}

.userpage-name {
  display: flex;
  align-items: center;
  margin: 0;
  h1 {
    margin-right: 1rem;
  }
  .bi-shop {
    margin-right: 1rem;
  }
}

.userpage-info {
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.myplants-add {
  display: flex;
  align-items: center;
  .fa-plus {
    margin-left: 1rem;
    color: black;
    font-weight: 300;
  font-family: 'Montserrat', sans-serif;
  }
}

.user-map {
  display: flex;
}

.user-card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  max-width: 90vw;
  padding-left: 1rem;
  padding-right: 1rem;
}

.profil-card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  max-width: 90vw;
  padding-left: 1rem;
  padding-right: 1rem;
}

.user-card-image {
  width: 100%;
  height: 12rem;
}

.user-card {
  padding: 1rem;
  max-width: 15rem;
  a {
    text-decoration: none;
    color: black;
  }
}

.user-card:hover {
  .user-card-info {
    background-color: #F7F7F7;
  }
  .user-card-image {
    opacity: 0.8;
  }
}

.user-card-body {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.user-card-info {
  padding: 0.5rem;
  height: 5rem;
}

.user-card-title {
  display: flex;
  align-items: center;
  font-weight: 300;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
}

.user-card-text {
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
  span {
    font-size: 12px;
    font-weight: 400;
  }
}

.card-userpage-biotitle {
  margin-top: 2rem;
  overflow: hidden;
  height: 150px;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
}

.card-userpage-biotext {
  padding: 16px;
  h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }
  p {
    font-size: 12px;
    opacity: .7;
  }
}

.bio {
  height: 10%;
}

.p-bio {
  height: 90%;
  display: flex;
  align-items: center;
}

.bio-icone {
  position: absolute;
  i {
    position: relative;
    right: -65rem;
    top: -8rem;
  }
}

.user-noresult {
  h1 {
    font-weight: 300;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    margin: 1rem;
  }
  a {
    text-decoration: none;
    color: black;
  }
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-pen-to-square, .fa-trash-can {
  color: grey;
}

.fa-pen-to-square:hover {
  color: black
}

.fa-trash-can:hover {
  color: black
}

.review-container {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-userpage-reviewphoto {
  margin-top: 2rem;
  overflow: hidden;
  height: 130px;
  width: 70%;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
}

.card-userpage-reviewtext {
  padding: 16px;
  margin-left: 2rem;
  width: 70%;
  h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }
  p {
    font-size: 12px;
    opacity: .7;
  }
}

.review-rating {
  display: flex;
  h2, h3 {
    font-size: 15px;
    align-items: center;
  }
  h3 {
    margin-left: 1rem;
    font-weight: 300;
    font-size: 15px;
  }
}
