.user-main-info {
  display: flex;
}

.userprofil-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  border-style: solid;
  border-width: 3px;
  border-color: white;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.userpage-name {
  display: flex;
  align-items: center;
  h1 {
    margin-right: 1rem;
  }
  .bi-shop {
    margin-right: 1rem;
  }
}

.userpage-info {
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.user-card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.card-userpage-biotitle {
  margin-top: 2rem;
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }
  p {
    font-size: 12px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
  }
  .card-userpage-biotext {
    padding: 16px;
    a, i {
      text-decoration: none;
      color: grey;
    }
  }
}

.bio-icone {
  position: absolute;
  i {
    position: relative;
    right: -65rem;
  }
}

.user-noresult {
  h1 {
    font-weight: 300;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    margin: 1rem;
  }
  a {
    text-decoration: none;
    color: black;
  }
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
