.user-main-info {
  display: flex;
}

.userprofil-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  border-style: solid;
  border-width: 3px;
  border-color: white;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.userpage-name {
  display: flex;
  align-items: center;
  h1 {
    margin-right: 1rem;
  }
  .bi-shop {
    margin-right: 1rem;
  }
}

.userpage-info {
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.card-userpage-biotitle {
  margin-top: 2rem;
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }
  p {
    font-size: 12px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
  }
  .card-userpage-biotext {
    padding: 16px;
  }
}
