<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_url('jungle.png')%>);">
  <div class="container banner-title">
    <h1>Lotus Share</h1>
    <h3>Rent a plant from your community!</h3>
  <%= link_to "Discover our plants", plants_path, class: "btn btn-green" %>
  </div>

  <div class="container banner-title">
    <%= form_tag plants_path, class: "simple_form search", method: :get do %>
    <div class="search-form-control form-group">
      <%= text_field_tag :query,
        params[:query],
        class: "form-control search-form string required",
        placeholder: "Search your perfect plant"
      %>
      <button name="button" type="submit" class="btn btn-light">
        <i class="fas fa-search"></i> Search
      </button>
      <% end %>
    </div>
  </div>
</div>
