<div class="card-deck-mission">
  <div class="card card-mission">
    <div>
      <h2 class="mission-title" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= asset_url('pousse.png')%>);">Our Mission</h2>
    </div>
    <div class="mission-message">
      <p class="mission-content">To promote stronger bonds within communities and make plant ownership accessible to all.</p>
    </div>
  </div>
  <div class="card-lotus mission-photo">
    <div class= "mission-lotus-photo">
      <%= image_tag 'lotus-flower.png', class: "lotus-photo"%>
    </div>
  </div>
  <div class="card card-mission">
    <div>
      <h2 class="mission-title" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= asset_url('ciel.png')%>);">Our Vision</h2>
    </div>
    <div class="mission-message">
      <p class="mission-content">To pollinate every home and public space with a plant.</p>
    </div>
  </div>
</div>
