<div class="card-deck">
  <div class="card">
    <h5 class="option-title">Rent from individuals</h5>
    <%= image_tag 'rent_particular.png', class: "option-photo option-body"%>
  </div>
  <div class="card">
    <h5 class="option-title">Rent or Buy from florist</h5>
    <%= image_tag 'rent_buy.png', class: "option-photo option-body"%>
  </div>
  <div class="card">
    <h5 class="option-title">Revive a plant</h5>
    <%= image_tag 'save_plant.png', class: "option-photo option-body"%>
  </div>
</div>
