
<div>
<td class="dash-link">
    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal" style="padding-left: 20px; padding-right: 20px">new</button>
    <%= link_to 'Return', review_path(review), method: :new, data: { confirm: "Thank you for using Lotus Share"}, style:'padding-left: 20px; padding-right: 20px', class: "btn btn-success"%>
</td>
</div>
