<div class="container">
  <div class="row">
      <div class="col-6">
          <h3 class="mb-3">Our values</h3>
      </div>
  </div>
</div>

<div class="card-deck-values">
  <div class="card card-values">
    <div>
      <h3 class="mission-title">Thriving</h3>
    </div>
    <div class="mission-message">
      <p class="mission-content">To not only grow, but to flourish</p>
    </div>
  </div>
  <div class="card card-values">
    <div>
      <h3 class="mission-title">Sustainability</h3>
    </div>
    <div class="mission-message">
      <p class="mission-content">To engage local ecosystems to improve environmental quality</p>
    </div>
  </div>
  <div class="card card-values">
    <div>
      <h3 class="mission-title">Diversity</h3>
    </div>
    <div class="mission-message">
      <p class="mission-content">To enrich each other's soil and broaden our horizons</p>
    </div>
  </div>
  <div class="card card-values">
    <div>
      <h3 class="mission-title">Stewardship</h3>
    </div>
    <div class="mission-message">
      <p class="mission-content">To plant the seeds for a better tomorrow.</p>
    </div>
  </div>
</div>
