<div class="container">
  <div class="row">
      <div class="col-6">
          <h3 class="mb-3">Our values</h3>
      </div>
  </div>
</div>

<div class="card-deck-values">
  <div class="card card-values">
    <div>
      <h3 class="values-title" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= asset_url('thriving.png')%>);">Thriving</h3>
    </div>
    <div class="mission-message">
      <p class="mission-content">To not only grow, but to flourish</p>
    </div>
  </div>
  <div class="card card-values">
    <div>
      <h3 class="values-title" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= asset_url('sequoia.png')%>);">Sustainability</h3>
    </div>
    <div class="mission-message">
      <p class="mission-content">To engage local ecosystems to improve environmental quality</p>
    </div>
  </div>
  <div class="card card-values">
    <div>
      <h3 class="values-title" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= asset_url('exotic.png')%>);">Diversity</h3>
    </div>
    <div class="mission-message">
      <p class="mission-content">To enrich each other's soil and broaden our horizons</p>
    </div>
  </div>
  <div class="card card-values">
    <div>
      <h3 class="values-title" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= asset_url('aloe.png')%>);">Stewardship</h3>
    </div>
    <div class="mission-message">
      <p class="mission-content">To plant the seeds for a better tomorrow.</p>
    </div>
  </div>
</div>
