<div>
<h1 class="text-center">This is the index page!</h1>
</div>

<div class="container">
  <% @plants.each do |plant| %>
  <h2 style="font-size: 20px;"><%= plant.name %></h2>
  <p style="font-size: 15px;"><%= plant.size %></p>
  <p style="font-size: 15px;"><%= plant.environment %></p>
  <% end %>
</div>
