.mission-render {
  margin: 3rem;
}

.mission-photo {
  border: none;
}

.mission-title {
  border-radius: 10px 10px 0px 0px;
  text-align: center;
  color: white;
  padding: 1rem;
  height: 100%;
  background-size: cover;
}

.mission-content {
  font-weight: 200;
  text-align: center;
}

.mission-message {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.lotus-photo {
  width: 15rem;
}

.card-lotus {
  margin-left: 5rem;
  margin-right: 5rem;
}

.card-mission {
  width: 25vw;
  height: 28vh;
  border-radius: 10px;
}

.card-deck-mission {
  display: flex;
  justify-content: center;
  max-width: 80vw;
  margin: auto;
}
