#navbar-container {
  display: flex;
  justify-content: end;
}

.navbar-lotus {
  justify-content: space-between;
  background: white;
  width: 100vw;
  position: fixed;
  top: 0px;
  height: 10vh;
  border-bottom: 1px solid lightgrey;
  z-index: 10000;
}

.navbar-lotus .navbar-collapse {
  flex-grow: 0;
}

.navbar-lotus .navbar-brand img {
  width: 40px;
}

.navbar-title {
  font-family: 'Montserrat', sans-serif;
  padding-top: 0.5rem;
  color: #5F939A;
}

.dropdown {
  margin-left: 1rem;
}
