.values-render {
  margin: 3rem;
}

.card-deck-values {
  display: flex;
  justify-content: space-evenly;
  max-width: 90vw;
  margin: auto;
}

.card-values {
  width: 20vw;
  height: 25vh;
  border-radius: 10px;
}

.values-title {
  border-radius: 10px 10px 0px 0px;
  text-align: center;
  color: white;
  padding: 1.2rem;
  height: 100%;
  background-size: cover;
}
